*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}


.header-navbar{
    background-color: rgb(255, 255, 255);
    color: rgb(70, 58, 70);
    text-align: center;
    margin-top: 20px;
    border: 2px rgb(18, 221, 194) solid;
    border-radius: 50%;
}

.navbar{
    display: inline;

}


.image{
     margin-top: 30px;
     display: block;
     background-image: url(images/yellow.jpg);
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;
     border-style: groove;
}

.bio{
    margin: 20px;
    font-size: 25px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
}

.me{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.skills{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    
    
}
#skills{
    display: inline-block;
    margin-bottom: 20px;
}

.frontend{
    margin-bottom: 20px;
    
}
.framework{
    margin-bottom: 20px;
}

.party{
    margin-bottom: 20px;
}

h3{
    margin: 20px;
   
}

.edu{
    
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 25px;
}

#edu{
    margin-left: 25px;
}

#school{
    margin-bottom: 10px;
}

#college{
    margin-bottom: 10px;
}

#university{
    margin-bottom: 10px;
}

.underline{
    text-decoration: underline;
}

.profile-links{
    
    
    display: inline;
    text-align: center;

    
}

.all-links{
    
    margin: 20px;
    padding: 30px;
    display: block;
    border: 1px black solid;
    font-weight: bold;
    font-size: larger;
    color: #000;
    text-align: center;
    background-color: rgb(204, 224, 22);
    border-radius: 30px;
}

.social{
    margin-top: 30px;
    text-decoration: underline;
}

